.mainer{
  width:50%;
  margin: auto;
}
.top-holder{
  display:flex;
  justify-content: space-between;
  background-color: #DD3535 ;
}
img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.mid-container{
  display: flex;
}
.title-holder{
  display: flex;
}
.title{
  font-family:  Helvetica Neue;
  font-size: 20px;
  color:#DD3535;
  font-style: normal;
}
.left-bar{
 width: 60%;
}
.right-bar{
 width: 40%;
 background-color: #E5E5E5;
}
 .date{
        background-color:rgba(82, 77, 83, 0.801);
        color:white;
        width:90px;
        height:15px;
        margin-top:0px;
        padding: 10px;
    }
.foot{
  background-color: #DD3535 ;
  height: 10px;
}